<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <form [formGroup]="movieForm" (ngSubmit)="editMovie()">
                <div class="form-group">
                <label for="exampleInputEmail1">Title</label>
                <input type="text" class="form-control" formControlName="title">
                </div>
                <div class="form-group">
                <label for="exampleInputPassword1">Genre</label>
                <input type="text" class="form-control"  formControlName="genre">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Year</label>
                    <input type="number" class="form-control" formControlName="year">
                </div>
            
                <button type="submit" class="btn btn-primary">Edit</button>
            </form>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>